html, body {
	height:100%;
	margin:0;
	padding:0;
}

body {
	background-color:#011829;
	color:#003e77;
}

#container {
	width:100%;
	height:100%;
}

#map {
	display:block;
	width:60%;
	height:90%;
	background-image:url('map.svg');
	background-repeat:no-repeat;
	border:1px solid #000000;
}

.range-indicator {
	fill:#9b694a;
	fill-opacity:0.07;
}

circle.load-ring-background {
	fill: transparent;
	stroke: rgba(239, 160, 0, 0.3);
	stroke-width: 2px;
}

circle.load-ring-cover {
	fill: transparent;
	stroke: rgb(239, 160, 0);
	stroke-width: 2px;
}

#noCall {
	color: #0167c4;
}
#dialing {
	color: #ff7299;
}
#callSuccess {
	color: #0f0;
}
#callFailure {
	color: #f00;
}

#action-bar {
	position:absolute;
	left:0;
	bottom:0;
	height:10%;
	width:100%;
	background-color:rgba(0, 0, 0, 0.3);
}

#balanceDisplay, #buttons, #status, #volume {
	display:inline-block;
	height:95%;
	border:1px solid #000211;
	border-top:0;
	border-bottom:0;
	margin:0 5px;
	vertical-align:top;
}

#balanceDisplay {
	width:10%;
	font-size:4vh;
	color:#efa000;
	text-align:center;
}

#buttons {
	width:20%;
}

.placeTower {
	background-image:url('place-tower.png');
	text-align:left;
}

#cancelPlacingTower {
	background-image:url('cancel-tower.png');
}

#buttons > button {
	display:none; /* JavaScript handles this, but buttons aren't visible before game start */
	background-color:#003e77;
	background-size:70% auto;
	background-position:center;
	background-repeat:no-repeat;
	padding:0;
	border:0;
	border-radius:100%;
	height:8vh;
	width:8vh;
	margin:1vh;
	cursor:pointer;
}

#buttons > button:hover {
	background-color:#0167c4;
}

.placeTower p {
	position:relative;
	bottom:3vh;
	padding:0;
	margin:0;
	color:#efa000;
	font-size:2vh;
	font-weight:bold;
}

#status {
	width:40%;
}

#explanation, #balanceNotEnough {
	display: none;
}

#explanation p, #balanceNotEnough p {
	margin:0;
}

#volume {
	width:15%;
}

#volume label {
	display:inline-block;
	width:40%;
}

#volume input {
	width:55%;
	margin:2% 0 0 0;
	padding:0;
}